<%= form_for(@groupTodo, :url => {:controller => :group_todos, :action => :create}) do |f| %>
    <div class="add-task-form">
        <%= f.text_field :text, id: :text,class:"form-control" %>
        <%= f.hidden_field :group_id, :value => @group_id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "追加",class:"btn btn-outline-primary"%>
    </div>
<% end %>