<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- レスポンシブ対応-->
  </head>
  <body>
  <header>
    <div class="bg-info clearfix">
      <p type="text" class="float-left">Todoアプリ</p>
      <% if user_signed_in? %>
        <%= link_to "ログアウト",destroy_user_session_path, method: :delete,class:"btn btn-secondary float-right" %>
        <%= link_to "マイページ",user_path(current_user),class:"btn btn-secondary float-right" %>
      <% else %>
        <%= link_to "ログイン",new_user_session_path, class:"btn btn-secondary float-right" %>
        <%= link_to "新規登録",user_registration_path, method: :post, class:"btn btn-secondary float-right" %>
      <% end %>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
