<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% self_css_path = "/assets/"+controller.controller_name  %>
    <!-- レスポンシブ対応-->
  </head>
  <body>
  <header>
      <% if user_signed_in? %>
        <div class="header-box">
        <div class="btn-group header-item">
        	<button type="button" onfocus="this.blur();" class="btn dropdown-toggle group-index-btn" data-toggle="dropdown" aria-expanded="false">
        		グループ
        		<span class="caret"></span>
        	</button>
        	<ul class="dropdown-menu" role="menu">
        	  <% session[:user_middle].each do |user_group| %>
        		  <li role="presentation"><a role="menuitem" tabindex="-1" href="/groups/top/<%= user_group.group.id %>"><%= user_group.group.name %></a></li>
        		<% end %>
        	</ul>
        </div>
          <%= link_to "グループ一覧",groups_path,class:"header-item" %>
          <%= link_to "ログアウト",destroy_user_session_path, method: :delete,class:"header-item" %>
          <%= link_to "マイページ",user_path(current_user),class:"header-item" %>
        </div>
      <% else %>
      <div class="header-box">
        <%= link_to "ログイン",new_user_session_path, class:"header-item" %>
        <%= link_to "新規登録",user_registration_path, method: :post, class:"header-item" %>
      </div>
      <% end %>
  </header>
      <%= yield %>
  </body>
</html>
